body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1a1a; /* 暗黑背景色 */
    margin: 0;
    padding: 0;
    color: #fff; /* 文字颜色为白色 */
}

.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #ffd700; /* 标题颜色为金色 */
    margin-bottom: 40px;
}

.app-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: flex-direction 0.5s ease; /* 添加过渡效果 */
}

.app {
    position: relative;
    background: rgba(255, 255, 255, 0.1); /* 毛玻璃效果 */
    backdrop-filter: blur(10px);
    border: 2px solid #ffd700; /* 金色边框 */
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: calc(33.333% - 20px);
    text-align: center;
    transition: transform 0.3s ease;
}

.app:hover {
    transform: translateY(-5px);
}

.app img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* 修改按钮样式 */
button {
    background-color: #ffd700; /* 金色背景 */
    color: #1a1a1a; /* 暗黑文字颜色 */
    padding: 20px 100px; /* 增加按钮的高度 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffc107; /* 鼠标悬停时的金黄色背景 */
}

button-view {
    background-color: #ffd700; /* 金色背景 */
    color: #1a1a1a; /* 暗黑文字颜色 */
    padding: 20px 10px; /* 调整为20px，增加高度 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffc107; /* 鼠标悬停时的金黄色背景 */
}




.single-column .app {
            width: 100%; /* 设置为单列布局 */
            margin: 10px 0; /* 调整间距 */
        }

@media (max-width: 768px) {
    .app {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .app {
        width: 100%;
    }
}

.site-description {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid #ffd700;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 80%;
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
}

.more {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-style: italic;
    color: gray;
    background-color: white;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
.t-container {
        text-align: center;
        margin-top: 50px; /* 添加顶部间距 */
    }
    img {
        width: 50px; /* 设置图片宽度 */
        height: auto; /* 保持宽高比 */
        margin-right: 10px; /* 设置图片和标题之间的间距 */
    }
    
#toggleButton {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 9999;
    }
    
.video-container {
    text-align: center;
}



.footer {
    background-color: #1a1a1a; /* 黑色背景 */
    color: #ffd700; /* 金色文字 */
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    margin-bottom: 50px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    margin: 5px 0;
}

/* 小圆点基本样式 */
.app .dot {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #ffd700; /* 金色 */
    opacity: 0; /* 初始时不可见 */
    z-index: 10;
}

/* 小圆点沿边框移动的动画 */
@keyframes move-dot {
    0%, 100% {
        top: 0;
        left: 0;
        opacity: 1;
    }
    25% {
        top: 0;
        left: 100%;
        transform: translateX(-100%);
    }
    50% {
        top: 100%;
        left: 100%;
        transform: translate(-100%, -100%);
    }
    75% {
        top: 100%;
        left: 0;
        transform: translateY(-100%);
    }
}


/* 小圆点大小变化的动画 */
@keyframes size-dot {
    0%, 100% {
        width: 0;
        height: 0;
        opacity: 0;
    }
    50% {
        width: 10px; /* 或根据您的设计调整大小 */
        height: 10px;
        opacity: 1;
    }
}

.developer-info {
    font-size: 16px; /* 字体大小调整为16px */
    color: #ffd700; /* 金色文字 */
    font-weight: normal; /* 正常字体权重 */
    margin-top: 20px; /* 上边距 */
    padding: 10px; /* 内边距 */
    background-color: #000; /* 黑色背景 */
    border: 2px solid #ffd700; /* 金色边框 */
    border-radius: 8px; /* 边框圆角 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 盒阴影，增强立体感 */
    text-align: center; /* 文本居中 */
    width: fit-content; /* 宽度根据内容自适应 */
    margin-left: auto; /* 左边距自动 */
    margin-right: auto; /* 右边距自动 */
    display: block; /* 使margin auto生效，居中对齐 */
}

.menu-toggle {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: gold;
    transition: 0.3s;
}

.nav-list {
    list-style: none;
    position: absolute;
    background-color: black;
    width: 100%;
    top: 0;
    left: -100%;
    padding: 0;
    margin: 0;
    transition: 0.3s;
}

.nav-list li {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid gold;
}

.nav-list li a {
    display: block;
    padding: 10px;
    color: gold;
    text-decoration: none;
}

.nav-list li:hover {
    background-color: #333;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1a1a; /* 暗黑背景色 */
    margin: 0;
    padding: 0;
    color: #fff; /* 文字颜色为白色 */
}

.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #ffd700; /* 标题颜色为金色 */
    margin-bottom: 40px;
}

.app-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: flex-direction 0.5s ease; /* 添加过渡效果 */
}

.app {
    position: relative;
    background: rgba(255, 255, 255, 0.1); /* 毛玻璃效果 */
    backdrop-filter: blur(10px);
    border: 2px solid #ffd700; /* 金色边框 */
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: calc(33.333% - 20px);
    text-align: center;
    transition: transform 0.3s ease;
}

.app:hover {
    transform: translateY(-5px);
}

.app img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* 修改按钮样式 */
button {
    background-color: #ffd700; /* 金色背景 */
    color: #1a1a1a; /* 暗黑文字颜色 */
    padding: 20px 100px; /* 增加按钮的高度 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffc107; /* 鼠标悬停时的金黄色背景 */
}

button-view {
    background-color: #ffd700; /* 金色背景 */
    color: #1a1a1a; /* 暗黑文字颜色 */
    padding: 20px 10px; /* 调整为20px，增加高度 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffc107; /* 鼠标悬停时的金黄色背景 */
}




.single-column .app {
            width: 100%; /* 设置为单列布局 */
            margin: 10px 0; /* 调整间距 */
        }

@media (max-width: 768px) {
    .app {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .app {
        width: 100%;
    }
}

.site-description {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid #ffd700;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 80%;
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
}

.more {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-style: italic;
    color: gray;
    background-color: white;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
.t-container {
        text-align: center;
        margin-top: 50px; /* 添加顶部间距 */
    }
    img {
        width: 50px; /* 设置图片宽度 */
        height: auto; /* 保持宽高比 */
        margin-right: 10px; /* 设置图片和标题之间的间距 */
    }
    
#toggleButton {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 9999;
    }
    
.video-container {
    text-align: center;
}



.footer {
    background-color: #1a1a1a; /* 黑色背景 */
    color: #ffd700; /* 金色文字 */
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    margin-bottom: 50px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    margin: 5px 0;
}

/* 小圆点基本样式 */
.app .dot {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #ffd700; /* 金色 */
    opacity: 0; /* 初始时不可见 */
    z-index: 10;
}

/* 小圆点沿边框移动的动画 */
@keyframes move-dot {
    0%, 100% {
        top: 0;
        left: 0;
        opacity: 1;
    }
    25% {
        top: 0;
        left: 100%;
        transform: translateX(-100%);
    }
    50% {
        top: 100%;
        left: 100%;
        transform: translate(-100%, -100%);
    }
    75% {
        top: 100%;
        left: 0;
        transform: translateY(-100%);
    }
}


/* 小圆点大小变化的动画 */
@keyframes size-dot {
    0%, 100% {
        width: 0;
        height: 0;
        opacity: 0;
    }
    50% {
        width: 10px; /* 或根据您的设计调整大小 */
        height: 10px;
        opacity: 1;
    }
}

.developer-info {
    font-size: 16px; /* 字体大小调整为16px */
    color: #ffd700; /* 金色文字 */
    font-weight: normal; /* 正常字体权重 */
    margin-top: 20px; /* 上边距 */
    padding: 10px; /* 内边距 */
    background-color: #000; /* 黑色背景 */
    border: 2px solid #ffd700; /* 金色边框 */
    border-radius: 8px; /* 边框圆角 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 盒阴影，增强立体感 */
    text-align: center; /* 文本居中 */
    width: fit-content; /* 宽度根据内容自适应 */
    margin-left: auto; /* 左边距自动 */
    margin-right: auto; /* 右边距自动 */
    display: block; /* 使margin auto生效，居中对齐 */
}

.menu-toggle {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: gold;
    transition: 0.3s;
}

.nav-list {
    list-style: none;
    position: absolute;
    background-color: black;
    width: 100%;
    top: 0;
    left: -100%;
    padding: 0;
    margin: 0;
    transition: 0.3s;
}

.nav-list li {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid gold;
}

.nav-list li a {
    display: block;
    padding: 10px;
    color: gold;
    text-decoration: none;
}

.nav-list li:hover {
    background-color: #333;
}
