body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1a1a; /* 暗黑背景色 */
    margin: 0;
    padding: 0;
    color: #fff; /* 文字颜色为白色 */
}
/* 设置按钮的字体大小 */
.mdui-typo-button {
    font-size: 18px; /* 根据需要调整这个值 */
}

/* 设置按钮的图标大小 */
.mdui-icon {
    font-size: 18px; /* 与上面的字体大小保持一致 */
}

/* 调整按钮内边距以适应文字和图标的大小 */
.mdui-button {
    padding: 0 10px; /* 根据您的设计需求调整左右内边距 */
}

.filter-container {
    background-color: black;
    color: gold;
    border: 1px solid gold;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filter-header label {
    font-weight: bold;
    font-size: 16px;
}

.filter-header select {
    padding: 5px 10px;
    background-color: #333;
    color: gold;
    border: 1px solid gold;
    font-size: 14px;
}

.apps-display ul {
    list-style-type: none;
    padding: 0;
}

.apps-display li {
    background-color: #222;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gold;
}

.apps-display li img {
    width: 100%; /* 调整为合适的尺寸 */
    height: auto;
}

.apps-display button {
    background-color: gold;
    color: black;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.apps-display button:hover {
    background-color: #ffd700; /* 更亮的金色 */
}


/* 4列布局 */
.four-column .app {
    width: calc(25% - 20px);
    margin: 10px;
}

@media (max-width: 768px) {
    .app {
        width: calc(50% - 20px);
        margin: 10px; /* 在小屏幕上保持较小的间距 */
    }
}

@media (max-width: 480px) {
    .app {
        width: 100%;
        margin: 10px 0; /* 在更小的屏幕上，上下间距，左右无边距 */
    }
}

.app-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* 为了响应式，确保在小屏设备上也能良好显示 */
@media (max-width: 600px) {
    .app {
        flex: 0 0 calc(50% - 10px); /* 在较小屏幕上占据50%宽度，适应最多2个应用每行 */
    }
}

/* 可选：进一步优化更小屏幕的显示 */
@media (max-width: 400px) {
    .app {
        flex: 0 0 calc(100% - 10px); /* 占据100%宽度，即每个应用独占一行 */
    }
}

.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #ffd700; /* 标题颜色为金色 */
    margin-bottom: 40px;
}

.app-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: flex-direction 0.5s ease; /* 添加过渡效果 */
}


.app {
   display: flex;
    flex-direction: column; /* 设置为垂直排列 */
    align-items: center; /* 如果需要让内容在容器中居中显示 */
    background: rgba(255, 255, 255, 0.1); /* 毛玻璃效果 */
    backdrop-filter: blur(10px);
    border: 2px solid #ffd700; /* 金色边框 */
    border-radius: 10px;
    padding: 20px;
   width: calc(50% - 20px);
    margin: 10px; /* 调整此处为较小的间距 */
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    outline: none; /* 移除默认的焦点轮廓 */
}

.app:hover, .app:focus-within {
    transform: translateY(-5px);
    box-shadow: 0 0 15px #ffd700; /* 添加金色发光效果 */
}

.app img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}


.gold-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #ffd700; /* 金色边框 */
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.app:hover .gold-border {
    opacity: 1;
}


/* 修改按钮样式 */
button {
    background-color: #ffd700; /* 金色背景 */
    color: #1a1a1a; /* 暗黑文字颜色 */
    padding: 20px 10px; /* 增加按钮的高度，宽度自适应 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    max-width: 100%; /* 确保按钮不会超过父容器的宽度 */
    text-align: center; /* 文字居中显示 */
    
}

button:hover {
    background-color: #ffc107; /* 鼠标悬停时的金黄色背景 */
}

button-view {
    background-color: #ffd700; /* 金色背景 */
    color: #1a1a1a; /* 暗黑文字颜色 */
    padding: 20px 10px; /* 调整为20px，增加高度 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffc107; /* 鼠标悬停时的金黄色背景 */
}

button-search {
    background-color: #ffd700; /* 金色背景 */
    color: #1a1a1a; /* 暗黑文字颜色 */
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffc107; /* 鼠标悬停时的金黄色背景 */
}



.single-column .app {
            width: 100%; /* 设置为单列布局 */
            margin: 10px 0; /* 调整间距 */
        }

@media (max-width: 768px) {
    .app {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .app {
        width: 100%;
    }
}

.site-description {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid #ffd700;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 80%;
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
}

.more {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-style: italic;
    color: gray;
    background-color: white;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
.t-container {
        text-align: center;
        margin-top: 50px; /* 添加顶部间距 */
    }
    img {
        width: 50px; /* 设置图片宽度 */
        height: auto; /* 保持宽高比 */
        margin-right: 10px; /* 设置图片和标题之间的间距 */
    }
    
#toggleButton {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 9999;
    }
    
.video-container {
    text-align: center;
}



.footer {
    background-color: #1a1a1a; /* 黑色背景 */
    color: #ffd700; /* 金色文字 */
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    margin-bottom: 50px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    margin: 5px 0;
}

/* 小圆点基本样式 */
.app .dot {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #ffd700; /* 金色 */
    opacity: 0; /* 初始时不可见 */
    z-index: 10;
}

/* 小圆点沿边框移动的动画 */
@keyframes move-dot {
    0%, 100% {
        top: 0;
        left: 0;
        opacity: 1;
    }
    25% {
        top: 0;
        left: 100%;
        transform: translateX(-100%);
    }
    50% {
        top: 100%;
        left: 100%;
        transform: translate(-100%, -100%);
    }
    75% {
        top: 100%;
        left: 0;
        transform: translateY(-100%);
    }
}


/* 小圆点大小变化的动画 */
@keyframes size-dot {
    0%, 100% {
        width: 0;
        height: 0;
        opacity: 0;
    }
    50% {
        width: 10px; /* 或根据您的设计调整大小 */
        height: 10px;
        opacity: 1;
    }
}

.developer-info {
    font-size: 16px; /* 字体大小调整为16px */
    color: #ffd700; /* 金色文字 */
    font-weight: normal; /* 正常字体权重 */
    margin-top: 20px; /* 上边距 */
    padding: 10px; /* 内边距 */
    background-color: #000; /* 黑色背景 */
    border: 2px solid #ffd700; /* 金色边框 */
    border-radius: 8px; /* 边框圆角 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 盒阴影，增强立体感 */
    text-align: center; /* 文本居中 */
    width: fit-content; /* 宽度根据内容自适应 */
    margin-left: auto; /* 左边距自动 */
    margin-right: auto; /* 右边距自动 */
    display: block; /* 使margin auto生效，居中对齐 */
}

.menu-toggle {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: gold;
    transition: 0.3s;
}

.nav-list {
    list-style: none;
    position: absolute;
    background-color: black;
    width: 100%;
    top: 0;
    left: -100%;
    padding: 0;
    margin: 0;
    transition: 0.3s;
}

.nav-list li {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid gold;
}

.nav-list li a {
    display: block;
    padding: 10px;
    color: gold;
    text-decoration: none;
}

.nav-list li:hover {
    background-color: #333;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1a1a; /* 暗黑背景色 */
    margin: 0;
    padding: 0;
    color: #fff; /* 文字颜色为白色 */
}

.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #ffd700; /* 标题颜色为金色 */
    margin-bottom: 40px;
}

.app-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: flex-direction 0.5s ease; /* 添加过渡效果 */
}

.app {
    position: relative;
    background: rgba(255, 255, 255, 0.1); /* 毛玻璃效果 */
    backdrop-filter: blur(10px);
    border: 2px solid #ffd700; /* 金色边框 */
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: calc(33.333% - 20px);
    text-align: center;
    transition: transform 0.3s ease;
}

.app:hover {
    transform: translateY(-5px);
}

.app img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* 修改按钮样式 */
button {
    background-color: #ffd700; /* 金色背景 */
    color: #1a1a1a; /* 暗黑文字颜色 */
    padding: 20px 100px; /* 增加按钮的高度 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffc107; /* 鼠标悬停时的金黄色背景 */
}

button-view {
    background-color: #ffd700; /* 金色背景 */
    color: #1a1a1a; /* 暗黑文字颜色 */
    padding: 20px 10px; /* 调整为20px，增加高度 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffc107; /* 鼠标悬停时的金黄色背景 */
}




.single-column .app {
            width: 100%; /* 设置为单列布局 */
            margin: 10px 0; /* 调整间距 */
        }

@media (max-width: 768px) {
    .app {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .app {
        width: 100%;
    }
}

.site-description {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid #ffd700;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 80%;
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
}

.more {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-style: italic;
    color: gray;
    background-color: white;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
.t-container {
        text-align: center;
        margin-top: 50px; /* 添加顶部间距 */
    }
    img {
        width: 50px; /* 设置图片宽度 */
        height: auto; /* 保持宽高比 */
        margin-right: 10px; /* 设置图片和标题之间的间距 */
    }
    
#toggleButton {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 9999;
    }
    
.video-container {
    text-align: center;
}



.footer {
    background-color: #1a1a1a; /* 黑色背景 */
    color: #ffd700; /* 金色文字 */
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    margin-bottom: 50px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    margin: 5px 0;
}

/* 小圆点基本样式 */
.app .dot {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #ffd700; /* 金色 */
    opacity: 0; /* 初始时不可见 */
    z-index: 10;
}

/* 小圆点沿边框移动的动画 */
@keyframes move-dot {
    0%, 100% {
        top: 0;
        left: 0;
        opacity: 1;
    }
    25% {
        top: 0;
        left: 100%;
        transform: translateX(-100%);
    }
    50% {
        top: 100%;
        left: 100%;
        transform: translate(-100%, -100%);
    }
    75% {
        top: 100%;
        left: 0;
        transform: translateY(-100%);
    }
}


/* 小圆点大小变化的动画 */
@keyframes size-dot {
    0%, 100% {
        width: 0;
        height: 0;
        opacity: 0;
    }
    50% {
        width: 10px; /* 或根据您的设计调整大小 */
        height: 10px;
        opacity: 1;
    }
}

.developer-info {
    font-size: 16px; /* 字体大小调整为16px */
    color: #ffd700; /* 金色文字 */
    font-weight: normal; /* 正常字体权重 */
    margin-top: 20px; /* 上边距 */
    padding: 10px; /* 内边距 */
    background-color: #000; /* 黑色背景 */
    border: 2px solid #ffd700; /* 金色边框 */
    border-radius: 8px; /* 边框圆角 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 盒阴影，增强立体感 */
    text-align: center; /* 文本居中 */
    width: fit-content; /* 宽度根据内容自适应 */
    margin-left: auto; /* 左边距自动 */
    margin-right: auto; /* 右边距自动 */
    display: block; /* 使margin auto生效，居中对齐 */
}

.menu-toggle {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: gold;
    transition: 0.3s;
}

.nav-list {
    list-style: none;
    position: absolute;
    background-color: black;
    width: 100%;
    top: 0;
    left: -100%;
    padding: 0;
    margin: 0;
    transition: 0.3s;
}

.nav-list li {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid gold;
}

.nav-list li a {
    display: block;
    padding: 10px;
    color: gold;
    text-decoration: none;
}

.nav-list li:hover {
    background-color: #333;
}

